---
import Layout from '../layouts/Layout.astro'
import { createClient } from 'microcms-js-sdk'
import { getTime, format } from 'date-fns'

interface ResponseEntry {
  id: string
  createdAt: string
  publishedAt: string
  revisedAt: string
  title: string
  contents: string
}

const client = createClient({
  serviceDomain: import.meta.env.SECRET_MCMS_DOMAIN,
  apiKey: import.meta.env.SECRET_MCMS_API_KEY,
})
const res = await client.get({ endpoint: 'notices' })
const notices = res.contents.sort((a: ResponseEntry, b: ResponseEntry) => (
  getTime(b.createdAt) - getTime(a.createdAt)
))
---

<Layout title="お知らせ | 長野ジュニアフォーラム" desc="お知らせ一覧">
  <div class="p-6">
    <h2 class="rounded-box bg-base-200 p-3 mb-6 block text-2xl font-bold">お知らせ</h2>
    <div class="flex flex-col gap-6">
      {notices.map(notice => (
        <a name={notice.id} class="rounded-box bg-base-200 p-6 flex flex-col gap-2">
          <p>{format(notice.createdAt, 'yyyy年M月d日 H:mm')}</p>
          <p class="text-lg font-bold">{notice.title}</p>
          <pre class="whitespace-pre-wrap">{notice.contents}</pre>
        </a>
      ))}
    </div>
  </div>
</Layout>
