---
import { Image } from 'astro:assets'

interface Props {
  slug: string
  title: string
  description: string
  image?: string
  dblcol: boolean
}

const { slug, title, description, image, dblcol } = Astro.props;
---

<div class={`rounded-box p-6 bg-base-200 flex gap-6 flex-col ${dblcol && 'lg:flex-row col-span-1 lg:col-span-2'}`}>
  {image &&
    <figure class={dblcol && 'lg:w-64'}>
      <Image src={image + '?w=512'} alt={title} inferSize={true} class="aspect-[1200/630] object-cover object-center rounded-xl" />
    </figure>
  }
  <div class="grow flex flex-col gap-4">
    <div class="grow">
      <h2 class="font-bold text-xl">{title}</h2>
      <p>{description}</p>
    </div>
    <div class="flex justify-end">
      <button class="btn btn-neutral">詳しく見る</button>
    </div>
  </div>
</div>
