---
import { createClient } from 'microcms-js-sdk'
import { getTime, format } from 'date-fns'

interface ResponseEntry {
  id: string
  createdAt: string
  publishedAt: string
  revisedAt: string
  title: string
  contents: string
}

const client = createClient({
  serviceDomain: import.meta.env.SECRET_MCMS_DOMAIN,
  apiKey: import.meta.env.SECRET_MCMS_API_KEY,
})
const res = await client.get({ endpoint: 'notices' })
const notices = res.contents.sort((a: ResponseEntry, b: ResponseEntry) => (
  getTime(b.createdAt) - getTime(a.createdAt)
  )).slice(0, 3)
---

<div class="rounded-box p-6 bg-base-200 flex flex-col gap-4">
  <h2 class="font-bold text-xl">お知らせ</h2>
  <ul>
    {notices.map((notice: ResponseEntry) => (
    <li class="p-3 rounded-xl hover:bg-base-300">
      <a href={`/notices#${notice.id}`}>
        <div class="flex justify-start items-center gap-4">
          <p class="text-lg font-semibold line-clamp-1">
            {notice.title}
          </p>
          <p class="flex-none">
            - {format(notice.createdAt, 'yyyy年M月d日')}
          </p>
        </div>
        <pre class="line-clamp-2 whitespace-pre-wrap mx-2 my-1">{notice.contents}</pre>
      </a>
    </li>
    ))}
  </ul>
  <div class="flex justify-end">
    <a href="/notices">
      <button class="btn btn-primary">もっと見る</button>
    </a>
  </div>
</div>
