---
export interface Props {
  title: string
  desc: string
}

const { title, desc } = Astro.props
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={desc} />
    <title>{title}</title>
  </head>
  <body>
    <div class="navbar bg-base-100">
      <a href="/" class="btn btn-ghost normal-case text-xl font-bold">長野ジュニアフォーラム</a>
    </div>
    <slot />
  </body>
</html>
