---
import NJFLogo from '../components/NJFLogo.astro'
import Menu from '../components/Menu.astro'
import Footer from '../components/Footer.astro'

export interface Props {
  title: string
  desc: string
}

const { title, desc } = Astro.props
---

<!DOCTYPE html>
<html lang="ja" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={desc} />
    <title>{title}</title>
    <script>
      import '../turboRouter.js'
    </script>
  </head>
  <body class="h-full">
    <div class="navbar flex border-b-4 border-primary p-4">
      <div class="grow flex flex-col items-start">
        <a href="/" aria-label="長野ジュニアフォーラム"><NJFLogo className="h-10 max-w-full" /></a>
        <div class="mt-2 rounded-md bg-accent text-white/[.85] px-3 py-1 ml-2 font-semibold">
          幼児〜中学生の個別指導
        </div>
      </div>
      <div class="flex-none pl-4 lg:hidden">
        <label for="menu-drawer" class="btn btn-primary btn-circle">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </label>
      </div>
    </div>
    <div class="drawer drawer-end lg:hidden">
      <input data-turbo-permanent id="menu-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-side z-[100]">
        <label for="menu-drawer" aria-label="close sidebar" class="drawer-overlay" />
        <div class="w-80 max-w-[75vw] min-h-full bg-base-200 text-base-content">
          <Menu />
        </div>
      </div>
    </div>
    <div class="w-full max-w-[1024px] mx-auto">
      <slot />
    </div>
    <div class="sticky top-[100vh]" style={{ top: '100dvh' }}>
      <Footer />
    </div>
  </body>
</html>

<style is:global>
  :root {
    scroll-padding: 1.5rem;
  }
  .turbo-progress-bar {
    @apply bg-primary;
  }
</style>
